.reservation {
    width: 100%;
    padding: 100px 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/background_reservation.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #D9E7FF;
}
.reservation__title {
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
    text-align: center;
    margin: 0 auto 80px;
}
.reservation__form {
    margin: 0 auto;
}